.grid-container {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px);
  grid-gap: 10px;
  grid-template-areas:
    "side other other"
    "side other other"
    "none last last";
}
.grid-container > div {
  background-color: rgb(13, 153, 212);
  padding: 30px;
  color: white;
}
.grid-item-1 {
  grid-area: side;
}
.grid-item-7 {
  grid-area: last;
}
